<%= render "devise/shared/error_messages", resource: resource %>

<div class="container main-container">
    <div class="flex-row">
        <h2>Отправка инструкций для подтверждения</h2>

        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>

            <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), :class => "form-control" %>
            </div>

            <div class="actions">
                <%= f.submit "Отправить", :class => "btn btn-primary col-sm-12" %>
            </div>
        <% end %>

        <div class="d-form-links">
            <%= render "devise/shared/links" %>
        </div>

    </div>
</div>
