<div class="container main-container">
    <div class="flex-row">
        <h1>Данные аккаунта</h1>
        <div class="d-user-profile-data">
            <div class="card">
                <div class="card-body">
                    <p><strong>Имя пользователя:</strong> <%= current_user.username %></p>
                    <p><strong>Email:</strong> <%= current_user.email %></p>
                    <p class="mb-0 pb-0">
                        <%= link_to "Изменить данные учетной записи", edit_user_registration_path %>
                    </p>
                </div>
            </div>
        </div>
        <div class="d-user-profile-data">
            <div class="card">
                <div class="card-body">
                    <%= form_for :user, url: user_update_mailing_path, method: "patch" do |f| %>
                        <div class="form-group">
                            <%= f.label :mail_digest, "Подписка на рассылку" %><br />
                            <%= f.select :mail_digest, options_for_select([['Ежедневный дайджест', 1],['Еженедельный дайджест', 2],['Не получать рассылку', 0]], current_user.mail_digest), {}, :class=>'form-control custom-select' %>
                        </div>
                        <%= f.submit "Сохранить", :class => "btn btn-success" %>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>