<%= render "devise/shared/error_messages", resource: resource %>

<div class="container main-container">
    <div class="flex-row">
      <h2>Смена пароля</h2>

        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%= f.hidden_field :reset_password_token %>

            <div class="form-group">
                <%= f.label :password, "Новый пароль" %><br />
                <% if @minimum_password_length %>
                    <em>(<%= @minimum_password_length %> символов минимум)</em><br />
                <% end %>
                <%= f.password_field :password, autofocus: true, autocomplete: "new-password", :class => "form-control" %>
            </div>

            <div class="form-group">
                <%= f.label :password_confirmation, "Подтвердите новый пароль" %><br />
                <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control" %>
            </div>

            <div class="actions">
                <%= f.submit "Изменить пароль", :class => "btn btn-primary col-sm-12" %>
            </div>
        <% end %>

        <div class="d-form-links">
            <%= render "devise/shared/links" %>
        </div>

    </div>
</div>
