<div class="container main-container">
    <div class="flex-row">
        <h1 class="mb-4">Новости</h1>
        <% @news.each do |one_news| %>
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">
                        <%= link_to one_news.title, news_path(one_news) %>
                    </h4>
                    <p class="card-text"><%= one_news.body %></p>
                    <p class="mb-0 small text-secondary">Опубликовано: <%= one_news.created_at.strftime("%d.%m.%Y %H:%M") %></p>
                </div>
                <% if can? :manage, one_news %>
                    <div class="card-footer">
                        <% if one_news.sended %>
                            <span class="badge badge-success">Отправлено</span>
                        <% end %>
                        <%= link_to 'Редактировать новость', edit_news_path(one_news), :class => 'btn btn-sm btn-info' %>
                        <%= link_to 'Удалить новость', one_news, :method => :delete, :class => 'btn btn-sm btn-danger ml-2', data: { confirm: "Вы действительно хотите удалить новость «#{one_news.title}»?" } %>
                    </div>
                <% end %>
            </div>
        <% end %>

        <%= will_paginate(@news, :renderer => 'ApplicationHelper::LinkRenderer') %>

    </div>
</div>