<!DOCTYPE html>
<html>
  <head>
    <title>SimpleBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container">
            <%= link_to 'SimpleBlog', root_path, :class=>"navbar-brand"  %>
            <ul class="navbar-nav">
                <% if current_user && current_user.isadmin %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbardrop" data-toggle="dropdown">
                            Управление
                        </a>
                        <div class="dropdown-menu">
                            <%= link_to 'Добавить пост', new_post_path, :class=>"dropdown-item"  %>
                            <%= link_to 'Добавить новость', new_news_path, :class=>"dropdown-item"  %>
                            <%= link_to 'Список новостей', news_index_path, :class=>"dropdown-item"  %>
                        </div>
                    </li>
                <% end %>

                <% if user_signed_in? %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbardrop" data-toggle="dropdown">
                            <%= current_user.email %>
                        </a>
                        <div class="dropdown-menu">
                            <%= link_to 'Профиль', user_root_path, :class=>"dropdown-item"  %>
                            <%= link_to 'Выйти', destroy_user_session_path, :method => :delete, :class=>"dropdown-item"  %>
                        </div>
                    </li>
                <% else %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbardrop" data-toggle="dropdown">
                            Вход/Регистрация
                        </a>
                        <div class="dropdown-menu">
                            <%= link_to 'Войти', new_user_session_path, :class=>"dropdown-item" %>
                            <%= link_to 'Зарегистрироваться', new_user_registration_path, :class=>"dropdown-item" %>
                        </div>
                    </li>
                <% end %>
            </ul>
        </div>
    </nav>

    <% if notice %>
        <div class="container">
            <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= notice.html_safe %>
            </div>
        </div>
    <% end %>

    <% if alert %>
        <div class="container">
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <%= alert.html_safe %>
            </div>
        </div>
    <% end %>

    <%= yield %>
  </body>
</html>