<div class="container main-container">
    <div class="flex">

    </div>
    <% if user_signed_in? %>
        <div class="flex">
            <div class="card mb-3">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="<%= posts_path %>">Показать все посты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="<%= posts_path(:myposts => 1) %>">Показать мои посты</a>
                </li>
            </ul>
        </div>
        </div>
    <% end %>
    <div class="flex-row">
        <% @posts.each do |one_post| %>
            <div class="card mb-3">
                <div class="card-body">
                    <h4 class="card-title">
                        <%= link_to one_post.title, post_path(one_post) %>
                    </h4>
                    <p class="card-text"><%= one_post.description %></p>
                    <p class="mb-0 small text-secondary">
                        <%= one_post.user.username %>,
                        Опубликовано: <%= one_post.created_at.strftime("%d.%m.%Y %H:%M") %>
                    </p>
                </div>
                <% if can? :manage, one_post %>
                    <div class="card-footer">
                            <%= link_to 'Редактировать пост', edit_post_path(one_post), :class => 'btn btn-sm btn-info ml-2' %>
                            <%= link_to 'Удалить пост', one_post, :method => :delete, :class => 'btn btn-sm btn-danger ml-2', data: { confirm: "Вы действительно хотите удалить пост «#{one_post.title}»?" } %>
                    </div>
                <% end %>
            </div>
        <% end %>

        <%= will_paginate(@posts, :renderer => 'ApplicationHelper::LinkRenderer') %>

    </div>
</div>